/build_local/
/cache/
/node_modules/
/vendor/
/.idea/
/.vscode/
npm-debug.log

# Optional ignores
/build_staging/
/build_production/
/source/assets/build/
# /source/assets/images/cities2/Media
source/_assets/js/game_data_process.js.old
source/_assets/js/game.js.old-withLocalStorage
