.game-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  object-fit: cover;
  z-index: -1;
  filter: blur(0vh);
  transition: filter 1s, opacity 0.5s;
  opacity: 1;
}

.game-onscreen {
  transition: opacity 0.2s display 0.2s;
  opacity: 100%;
}

.pause-overlay {
  z-index: 999999;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  border: 0.3vh rgba(246, 0, 0, 0.667) solid;
  transition: border-top-color 250ms, border-left-color 250ms,
    border-bottom-color 250ms, border-right-color 250ms, transform 250ms;
  box-shadow: inset 0 0 0.5vh 0.5vh rgba(246, 0, 0, 0.5);
  pointer-events: none;
}

.toolbar {
  color: var(--mainmenu-white-color);
  font-size: 2vh !important;
  position: relative;
  z-index: 1001;
}

.bottom-bar {
  position: fixed;
  top: 95vh;
  bottom: 0vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--dark-blackish-color);
  gap: 10vw;
  margin: auto;
  justify-content: center;
  z-index: 50;
  transition: all 0.5s ease;
}

.bottom-bar.minimized {
  top: 101vh;
  transition: all 0.5s ease;
}

.asset-bar {
  position: fixed;
  top: 88.89vh;
  bottom: 5vh;
  width: 100vw;
  padding: 0.5vh calc(10vh / 8vh);
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(77, 77, 77, 0.6);
  gap: 1vw;
  margin: auto;
  justify-content: center;
  z-index: 40;
  transition: all 0.5s ease;
}

.asset-bar.minimized {
  top: 94.89vh;
  bottom: 0vh;
  transition: all 0.5s ease;
  gap: 8vw;
}

.asset-bar > * {
  transition: all 0.5s ease;
}

.asset-bar.minimized > * {
  transition: all 0.5s ease;
  gap: 1vw;
}

.tools-panel {
  position: fixed;
  right: calc(100% - 31.35%);
  bottom: calc(100% - 88.33%);
}

.asset-group-tooltip {
  background: #232528;
  color: #fff;
  text-align: left;
  padding: 1.5vh;
  border-radius: 0.5vh;
  margin-bottom: 5.5vh;
  max-width: 24vw;
  position: absolute;
  transform: translate(calc(-50% + 2vh), 0%);
  bottom: 0;
  z-index: 1000;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}

.asset-group-tooltip[style*="visibility: visible"] {
  opacity: 1;
}

.asset-group-tooltip-header {
  text-transform: uppercase;
  padding-bottom: 1vh;
}

.asset-group-tooltip-body {
  font-size: 80% !important;
}

.asset-group-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.5vw 2vh 0 2vh;
  border-color: #232528 transparent transparent transparent;
  left: 50%;
  bottom: -0.8vh;
  transform: translateX(-50%);
  z-index: 1000;
}

.asset-menu-group {
  display: flex;
  gap: 0.1vw;
}

.asset-menu-icon {
  border-radius: 100%;
  cursor: pointer;
}

.asset-menu-icon:hover {
  border-radius: 120vh;
  background-color: #555e5f;
}

.asset-menu-icon.active {
  border-radius: 100vh 100vh;
  background-color: var(--vanilla-blue-accent-light);
}

.asset-menu-icon > img {
  height: 4vh;
  width: 4vh;
  filter: drop-shadow(0 0 0.2vh #000);
}

.asset-panel {
  position: fixed;
  left: 31.69vw;
  right: calc(100% - 68.33%);
  top: calc(100vh - 11.5vh);
  bottom: 11.5vh;
  background-color: rgba(39, 39, 39, 0.76);
  opacity: 0;
  transition: all 0.5s ease;
  z-index: 10;
}

.asset-panel.opened {
  display: block;
  top: calc(100% - 33.1vh);
  opacity: 1;
  transition: all 0.5s ease;
}

.asset-panel.flexed {
  left: 0;
  right: 0;
  top: calc(100% - 20vh);
  bottom: calc(100vh - 94.89vh);
  z-index: 1;
  transition: all 0.5s ease;
}

.asset-panel-header {
  border-bottom: 0.3vh solid var(--vanilla-blue-accent-dark);
  display: flex;
  padding-top: 0.5vh;
  background-color: rgba(21, 21, 21, 0.03);
}

.asset-panel-header-close,
.asset-details-pane-header-close {
  margin-left: auto;
  width: 2vw;
  height: 2vh;
  display: flex;
}

.asset-panel-header-close > button,
.asset-details-pane-header-close > button {
  margin: auto;
}

.asset-panel-header-tabs {
  display: flex;
  margin-left: 2.85%;
  flex-grow: 1;
  gap: 0.2vw;
  height: 4vh;
}

.asset-panel-header-tab.multiple {
  position: relative;
  width: calc(100% / 12);
  max-width: calc(100% / 12);
  border-top-left-radius: 0.6vh;
  border-top-right-radius: 0.6vh;
  background-color: #ffffff2e;
  cursor: pointer;
}

.asset-panel-header-tab.single {
  background: none;
}

.asset-panel-header-tab.flexed {
  width: clamp(1vw, 3vw, 7.7vw);
}

.asset-panel-header-tab.multiple.active {
  background: var(--vanilla-blue-accent-light);
  background: linear-gradient(
    180deg,
    var(--vanilla-blue-accent-light) 0%,
    var(--vanilla-blue-accent-dark) 100%
  ) !important;
}

.asset-panel-header-tab.multiple.hover {
  background: var(--mainmenu-white-color);
}

.asset-panel-header-tab > img {
  height: 4vh;
  width: 4vh;
  margin: auto;
  filter: drop-shadow(0 0 0.2vh #000);
}

.asset-panel-items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  gap: 0.3vh;
  padding: 0.3vh 1.5vh;
  max-height: calc(100% - 5.5vh);
  overflow-y: auto;
}

.asset-panel-items.flexed {
  padding: 0.3vh 2.5vh;
  overflow: hidden;
  flex-wrap: nowrap;
  white-space: nowrap;
}

.asset-panel-item {
  width: calc((100% - 2.4vh) / 9);
  min-width: calc((100% - 2.4vh) / 9);
  padding: 0.1vh;
  text-align: center;
  background-color: rgba(80, 80, 80, 0.274);
}

.asset-panel-item:hover,
.asset-panel-item.selected {
  background-color: var(--vanilla-blue-accent-light);
}

.asset-panel-item-inner > img {
  width: 100vw;
  aspect-ratio: 1;
  filter: drop-shadow(0 0 0.2vh #000);
}

.asset-panel-item.flexed {
  width: 8.6vh;
  min-width: 0;
  flex-shrink: 0;
}

.lds-ripple-container {
  width: 2vh !important;
  height: 2vh !important;
  animation: spin 1s linear infinite;
  margin: 5.8vh auto !important;
  border: 1px solid var(--vanilla-blue-accent-light);
  border-radius: 45%;
  display: flex;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.details-pane {
  position: relative;
  z-index: 999;
  display: none;
}

.asset-quick-info {
  position: fixed;
  left: 31.69vw;
  right: calc(100% - 68.33%);
  /* top: 47.67vh; */
  bottom: calc(100% - 66.33%);
  display: none;
}

.asset-quick-info-header {
  display: flex;
  height: 3vh;
  background-color: rgba(39, 39, 39, 0.76);
  padding-left: 2vh;
  padding-top: 0.5vh;
  font-size: 80% !important;
}

.asset-quick-info-header-title {
  flex-grow: 1;
  text-transform: uppercase;
  color: var(--vanilla-blue-accent-light);
}

.asset-quick-info-header-money {
  float: right;
}

.asset-quick-info-body {
  background-color: rgba(39, 39, 39, 0.26);
  display: flex;
  min-height: 10vh;
  padding: 0 1vw;
}

.asset-quick-info-body-image {
  background-color: rgba(39, 39, 39, 0.26);
  display: flex;
  flex-shrink: 0;
  margin-top: 1vh;
  margin-bottom: 1vh;
  width: 10vh;
  height: 10vh;
}

.asset-quick-info-body-image > img {
  margin: auto;
  width: 10vh;
  filter: drop-shadow(0 0 0.2vh #000);
}

.asset-quick-info-body-desc {
  margin: 1vh;
  font-size: 1.4vh !important;
}

.asset-quick-info-footer {
  display: flex;
  height: 2vh;
  background-color: rgba(39, 39, 39, 0.76);
}

.asset-details-pane-container {
  height: 100vh;
  width: 100vw;
  /* z-index: 1000; */
}

.asset-details-pane {
  position: fixed;
  left: 1vw;
  right: 1vw;
  top: 1vw;
  bottom: 10vw;
  box-shadow: 0 0px 1.5vw 2.5vh rgba(181, 213, 213, 0.5);
  border-radius: 1vh;
  opacity: 0;
  transform: scale(0);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.asset-details-pane.open {
  opacity: 1;
  transform: scale(1);
}

.asset-details-pane-header {
  display: flex;
  height: 4vh;
  background-color: rgba(39, 39, 39, 0.76);
  padding-left: 1vh;
  padding-top: 0.8vh;
}

.asset-details-pane-header-title {
  flex-grow: 1;
  text-transform: uppercase;
  color: var(--vanilla-blue-accent-light);
  text-align: center;
  font-size: clamp(16px, 1vw, 10vw) !important;
}

.asset-details-pane-header-close {
  color: var(--mainmenu-white-color);
  font-weight: bolder;
}

.asset-details-pane-body {
  background-color: rgba(39, 39, 39, 0.26);
  display: flex;
  flex-direction: column;
  height: calc(100% - 6vh);
  backdrop-filter: blur(2vh);
}

.asset-details-pane-body-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.asset-details-pane-body-top::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 0.2vw;
  width: 100%;
  background: linear-gradient(
    to right,
    transparent,
    var(--vanilla-blue-accent-light),
    transparent
  );
  border-radius: 4px; /* Optional: smooth rounding */
}

.asset-details-pane-image {
  background-color: rgba(39, 39, 39, 0.26);
  display: flex;
  flex-shrink: 0;
  margin: 1vh;
  margin-left: 1vw;
}

.asset-details-pane-image > img {
  margin: auto;
  width: 15vh;
  height: auto;
}

.asset-details-pane img {
  filter: drop-shadow(0 0 0.2vh #000);
}

.asset-details-pane-desc {
  overflow: overlay;
  margin: 1vh;
  margin-bottom: auto;
  font-size: 1vw !important;
  padding: 0.8vw;
  color: var(--mainmenu-white-color);
}

.asset-details-pane-body-bottom {
  overflow: overlay;
  width: 100%;
  height: 100%;
  padding: 1vh 1vw;
  color: aliceblue;
  display: flex;
  gap: 1vh;
}

.asset-details-pane-body-bottom-boxes {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 1vw 1vh;
  flex: 1;
  /* flex-direction: column; */
  font-family: "Titillium Web", serif;
  font-weight: 600;
  font-style: normal;
}

.column {
  display: none;
  flex-shrink: 1;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.column > .asset-details-pane-body-bottom-box-new > div {
  width: unset !important;
}

.asset-details-pane-body-bottom-boxes > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  height: auto;
  min-width: 25vh;
  width: 50%;
}

.asset-details-pane-body-bottom-box {
  flex-grow: 1;
  border: 0.5vh solid var(--vanilla-blue-accent-light);
  border-radius: 2vh;
}

.asset-details-pane-body-bottom-box-header {
  background: var(--dark-blackish-color);
  border-top-left-radius: 2vh;
  border-top-right-radius: 2vh;
  color: var(--vanilla-blue-accent-light);
  text-align: center;
  padding-top: 0;
}

.asset-details-pane-body-bottom-box-body {
  padding: 0.1vh 0.5vw;
  text-align: center;
}

.asset-details-pane-body-bottom-box-new {
  width: 100%;
  margin-top: 2vh;
  opacity: 0;
}

.asset-details-pane-footer {
  display: flex;
  height: 2vh;
  background-color: rgba(39, 39, 39, 0.76);
}

.asset-icon-box {
  position: relative;
  display: inline-block;
  width: 10vh;
  height: 10vh;
  margin: 10px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
}

.asset-icon-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.asset-icon-box .text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 1;
  font-size: 1rem;
  font-weight: bold;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  width: 100%;
  font-size: xx-small;
  word-wrap: anywhere;
}

.asset-icon-box:hover .text-overlay {
  opacity: 1;
}

.level-selector {
  margin-bottom: 2vh;
  display: flex;
  width: 100%;
}

.level-btn {
  flex-grow: 1;
  background: green;
  margin-right: 2vh;
  margin-left: 2vh;
  border-radius: 2vh;
}

.level-btn.active {
  background: #113442d1;
}

#hof {
  bottom: 15vh !important;
}

.tag-container {
  display: flex;
  gap: 1vh;
  margin-top: 1vh;
}

.asset-tag {
  padding: 1vh;
  background: var(--vanilla-blue-accent-dark);
  border-radius: 1vh;
}

.box-header {
  text-transform: uppercase;
  text-align: left;
  width: 100%;
  position: relative;
}

/* .box-header::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: -2px;
  width: 100%;
  height: 0.3vh;
  background-color: var(--vanilla-blue-accent-light);
  border-top-left-radius: 1vh;
  border-top-right-radius: 1vh;
} */

#resource-use-table {
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
}

@media (max-width: 600px) {
  #resource-use-table {
    grid-template-columns: repeat(1, 1fr);
  }
}

.resource-icon {
  height: 100%;
  aspect-ratio: auto;
  min-width: 35px !important;
}

.resource-inline-div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  flex-basis: 12vw;
}

.resource-inline-icon {
  display: flex;
  height: 2vw;
  flex: 1;
}

.resource-inline-text {
  align-self: center;
  margin: auto;
}

.resource-inline-icon > .resource-icon {
  margin: 0 0.5vh !important;
}

#resource-use-table > div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--brown);
  padding: 0.1rem 0.9rem 0 0.9rem;
  border-radius: 0.4rem;
}

#resource-use-table > div.storage {
  background: var(--green);
}

#resource-use-table > div.init {
  background: var(--dark-blue);
}

#resource-allow-table {
  display: flex;
  flex-wrap: wrap;
}

.data-box {
  display: grid;
  align-content: stretch;
  align-items: stretch;
  width: 47vw;
  gap: 1vh;
  text-align: center;
  padding: 1vh;
  background: var(--almost-black);
  border-radius: 1vh;
  border: 0.3vh solid var(--vanilla-blue-accent-dark);
  /* min-height: 15vh; */
  /* max-height: 25vh; */
  /* flex-grow: 1; */
  overflow: overlay;
}

.parent-div-with-subtext {
  display: grid;
  /* flex-wrap: wrap; */
  border-radius: 1vh;
  gap: 1vh;
  overflow: hidden;
  grid-template-columns: repeat(2, 1fr);
  word-break: break-word;
}

.parent-div-with-subtext > :last-child {
  background-color: rgba(122, 69, 142, 0.4);
}

.parent-div-with-subtext.link > :last-child {
  background-color: #10acb8;
  color: #000;
  cursor: pointer;
}

.subtext {
  text-transform: uppercase;
}

.value-above-subtext {
  margin: auto;
  line-height: 2vh;
}

.bldg-div {
  margin: auto;
}

.div-with-subtext {
  display: grid !important;
  flex: 1;
  /* background: var(--orange); */
  background: rgba(159, 126, 172, 0.4);
  border-radius: 1vh;
  padding: 1vh;
  color: #fff;
  transition: all 0.1s ease-in;
}

.div-with-subtext:hover,
.data-link-button:hover {
  background-color: #136f00 !important;
  scale: 105%;
  color: wheat;
}

.div-with-subtext > .subtext {
  font-size: 80% !important;
  font-weight: initial;
  margin: auto;
}

.div-with-subtext-flex {
  display: flex !important;
  flex-direction: column;
  gap: 1vh;
  border-radius: 1vh;
  padding: 1vh;
}

.data-link-button {
  border-radius: 1vh;
}

.data-link-button.link {
  background: coral;
  color: #000;
}

/* .color-box-parent {
  background: #000;
  border: 1vh solid var(--dark-blackish-color);
  border-radius: 1vh;
} */

.div-with-subtext:has(.color-box) {
  padding: 0 !important;
  background-color: unset !important;
}

.div-with-subtext:has(.color-box):hover {
  background-color: unset !important;
}

.color-box {
  border: 1vh solid var(--dark-blackish-color);
  border-radius: 1vh;
  height: 100%;
  width: 100%;
  margin: auto;
}

.top-game-icon {
  display: flex;
  background: #4bc3f1;
  border-radius: 1vh;
  width: 5vh;
  height: 5vh;
}

.top-game-icon:hover {
  background: #0579a7;
}

.top-game-icon > img {
  width: 80%;
  margin: auto;
}

.pause-menu {
  backdrop-filter: blur(2vh);
}

.right-icons,
.left-icons {
  display: flex;
  gap: 1vh;
  position: absolute;
}

.right-icons {
  right: 1vh;
  top: 1vh;
  flex-direction: row-reverse;
}

.left-icons {
  left: 1vh;
  top: 1vh;
}

.top-icons {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1000;
}

.guid-text > :last-child > * {
  user-select: all;
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
}

.chirper {
  position: fixed;
  right: 0;
  bottom: 20vh;
  width: 4vw;
  height: 4vw;
  margin: 2vh;
  background-size: 82%;
  background-color: var(--dark-blackish-color);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  display: flex;
  opacity: 0.2;
  transition: opacity 0.3ms ease, background-size 0.3ms linear;
}

.chirper:hover {
  opacity: 0.8;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(2px, 0, 0);
  }
}

.chirp {
  background: white;
  border-radius: 0.6vh;
  width: 0vw;
  position: fixed;
  bottom: 15vh;
  right: 6.6vw;
  align-items: start;
  padding: 0vh;
  gap: 2vh;
  min-width: 20vw;
  min-height: 15vh;
  transition: all 1s linear;
  display: none;
  opacity: 0;
}

.chirp-avatar {
  border-radius: 50%;
  width: 2vw;
  height: 2vw;
  background-color: cornflowerblue;
  background-size: 150%;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: 20%;
  display: none;
}

.chirp-user {
  font-size: 3vh;
  font-weight: bold;
  color: cornflowerblue;
}

.chirp-header {
  display: flex;
  gap: 1vw;
}

.chirp-time {
  align-self: first baseline;
  text-align: end;
  flex-grow: 1;
  color: lightslategray;
  font-size: 1.6vh;
}

.chirp-text {
  font-size: 1.6vh;
  overflow: hidden;
  max-height: 9vh;
}

.chirp-like {
  color: lightslategray;
  text-align: end;
  display: none;
  margin-bottom: -1vh;
  font-size: 1.6vh;
}

.chirp-like::after {
  content: " ♡";
  font-size: 1.7vh;
}

.chirp-arrow {
  position: fixed;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1.1vw 2vh 0 2vh;
  border-color: #fff transparent transparent transparent;
  left: 93vw;
  bottom: 25vh;
  rotate: 270deg;
  display: none;
}
