.lds-ripple {
  /* change color here */
  color: var(--vanilla-blue-accent);
}
.lds-ripple,
.lds-ripple div {
  box-sizing: border-box;
}
.lds-ripple {
  display: inline-block;
  position: relative;
  width: 4vh;
  height: 4vh;
  margin: 5.5vh auto;
}
.lds-ripple div {
  position: absolute;
  border: 0.4px solid currentColor;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 1.8vh;
    left: 1.8vh;
    width: 0.4vh;
    height: 0.4vh;
    opacity: 0;
  }
  4.9% {
    top: 1.8vh;
    left: 1.8vh;
    width: 0.4vh;
    height: 0.4vh;
    opacity: 0;
  }
  5% {
    top: 1.8vh;
    left: 1.8vh;
    width: 0.4vh;
    height: 0.4vh;
    opacity: 1;
  }
  100% {
    top: 0;
    left: 0;
    width: 4vh;
    height: 4vh;
    opacity: 0;
  }
}
