.mainmenu-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  object-fit: cover;
  z-index: 798;
  transition: filter 1s, opacity 0.5s;
  opacity: 1;
}

.mainmenu-layout {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 799;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mainmenu-logo-container {
  height: max-content;
  width: 100%;
  justify-content: center;
  display: flex;
  margin-top: 4vh;
}

.mainmenu-logo {
  height: 34vh;
}

.mainmenu-center {
  width: 50vw;
  min-width: 700px;
  height: 50vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3vh;
  display: flex;
  justify-content: center;
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1.5fr;
  gap: 2vh;
  grid-template-areas:
    "A ."
    "A ."; */
}

.mainmenu-start {
  grid-area: A;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  overflow: hidden;
  min-width: calc((100% - 3vh) / 2);
}

.mainmenu-start-button {
  width: 100%;
  height: 7.5vh;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  background-color: rgba(16, 19, 29, 0.3);
  backdrop-filter: brightness(60%) contrast(90%) blur(7px);
  color: var(--mainmenu-white-color);
  padding: 0 1vw;
  transition: padding-left 150ms;
}

.mainmenu-start-button:hover {
  background: rgba(226, 226, 226, 0.6);
  color: rgba(16, 19, 29, 0.8);
}

.mainmenu-start-button:hover * {
  transform: translateX(1vw);
  transition: transform 0.3s ease;
}

.mainmenu-start-text {
  font-size: 3vh;
  text-transform: uppercase;
  translate: 6vh 0.45vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mainmenu-start-icon {
  background-color: var(--mainmenu-white-color);
  margin-right: -3vw;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: 2vw;
  height: 100%;
  aspect-ratio: 1;
}

.mainmenu-info {
  background-color: rgba(16, 19, 29, 0.3);
  backdrop-filter: brightness(60%) contrast(90%) blur(7px);
  border-radius: 1vh;
  min-width: calc((100% - 3vh) / 2);
}

.mainmenu-info-header {
  background-color: rgba(16, 19, 29, 0.5);
  text-align: center;
  height: 7.5vh;
  overflow: clip;
}

.mainmenu-info-header-text {
  color: var(--mainmenu-white-color);
  font-size: 4vh;
  translate: 0 1.35vh;
}

.mainmenu-notification {
  background-color: rgba(16, 19, 29, 0.3);
  backdrop-filter: brightness(60%) contrast(90%) blur(7px);
  border-radius: 1vh;
}

.mainmenu-version {
  position: absolute;
  color: var(--mainmenu-white-color);
  translate: 0 100vh;
  margin-top: -4vh;
  margin-left: 1vw;
  font-size: 2vh;
}

.mainmenu-top-right {
  position: fixed;
  display: flex;
  background: rgba(16, 19, 29, 0.9);
  border-bottom-left-radius: 1vh;
  float: right;
  width: 16vh;
  right: 0;
  align-items: center;
}

.mainmenu-top-right:hover {
  filter: var(--filter-drop-shadow);
  cursor: help;
}

.mainmenu-top-right-img {
  margin: 1vh;
  width: 5vh;
  height: 5vh;
}

.mainmenu-top-right-text {
  font-size: 2vh;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--mainmenu-white-color);
  width: 100%;
  text-align: start;
}

.disabled-link.mainmenu-start-button {
  background-color: #43434363;
  backdrop-filter: brightness(100%) contrast(10%) blur(-1px);
}
