@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --fontFamily: Overpass, "Noto Sans", "Noto Sans KR", "Noto Sans JP",
    "Noto Sans SC", "Noto Sans TC", "Noto Sans Thai", "Noto Sans Hebrew",
    "Noto Sans Arabic", "Noto Sans Bengali", "Noto Sans Devanagari";
  --filter-drop-shadow: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.5));
  --box-shadow: 0 0 15px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.2);
  --mainmenu-white-color: rgba(226, 226, 226, 0.8);
  --dark-blackish-color: rgba(49, 49, 49, 0.8);
  --vanilla-blue-accent-light: #4bc3f1;
  --vanilla-blue-accent-dark: #1e83aa;
}

body {
  background-color: rgba(0, 0, 0, 1);
}

body > * {
  font-family: var(--fontFamily);
}

.box-shadow {
  box-shadow: var(--box-shadow);
}

.drop-shadow {
  filter: var(--filter-drop-shadow);
}

* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

img {
  pointer-events: none;
  -webkit-user-drag: none;
}

.disabled-link {
  pointer-events: none;
  text-decoration: none;
}

.round-border {
  border-radius: 1vh;
}

.round-border-top {
  border-top-left-radius: 1vh;
  border-top-right-radius: 1vh;
}

.round-border-bottom {
  border-bottom-left-radius: 1vh;
  border-bottom-right-radius: 1vh;
}

#hof {
  color: antiquewhite;
  position: absolute;
  bottom: 10vh;
  left: 3vw;
  display: none;
  transition: filter 1s, opacity 1s;
  opacity: 1;
}

#hof-title {
  font-size: 300%;
}

#hof-creator {
  font-size: 200%;
}

#hof-creator::before {
  content: "by ";
}
