@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");

:root {
  --fontFamily: Overpass, "Noto Sans", "Noto Sans KR", "Noto Sans JP",
    "Noto Sans SC", "Noto Sans TC", "Noto Sans Thai", "Noto Sans Hebrew",
    "Noto Sans Arabic", "Noto Sans Bengali", "Noto Sans Devanagari";
  --filter-drop-shadow: drop-shadow(10px 10px 15px rgba(0, 0, 0, 0.5));
  --box-shadow: 0 0 15px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.2);
  --mainmenu-white-color: rgba(226, 226, 226, 0.8);
  --dark-blackish-color: rgba(49, 49, 49, 0.8);
  --vanilla-blue-accent-light: #4bc3f1;
  --vanilla-blue-accent-dark: #1e83aa;
  --orange: rgb(232, 123, 57); /*rgb(255, 204, 110);*/
  --grey: #373737;
  --brown: #502f2f;
  --green: #2a572a;
  --dark-blue: #114255;
  --almost-black: #00000069;
  --dark-purple: #4e009b;
}

body {
  background-color: rgba(0, 0, 0, 1);
}

body > * {
  font-family: var(--fontFamily);
  font-size: 2vh;
}

.box-shadow {
  box-shadow: var(--box-shadow);
}

.drop-shadow {
  filter: var(--filter-drop-shadow);
}

* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

img {
  pointer-events: none;
  -webkit-user-drag: none;
}

.disabled-link {
  pointer-events: none;
  text-decoration: none;
}

#hof {
  color: antiquewhite;
  position: absolute;
  bottom: 10vh;
  left: 3vw;
  display: none;
  transition: filter 1s, opacity 1s;
  opacity: 1;
  z-index: 798;
}

#hof-title {
  font-size: 300%;
}

#hof-creator {
  font-size: 200%;
}

#hof-creator::before {
  content: "by ";
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  font-size: 20px;
  visibility: hidden;
}

#overlay.show {
  visibility: visible;
}

.window-size-message {
  background-color: rgba(146, 74, 204, 0.8);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  z-index: 999999999;
  position: absolute;
  width: 100vw;
  height: 100vh;
  font-family: "Cities 0.4", "Rubik", Lato, Roboto, serif;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.window-size-header {
  color: #00ffdb;
  font-size: 3rem;
}

#db-loading {
  background-color: rgba(146, 74, 204, 0.8);
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  z-index: 9997;
  position: absolute;
  width: 100vw;
  height: 100vh;
  font-family: "Cities 0.4", "Rubik", Lato, Roboto, serif;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
