.mainmenu-start {
  display: grid !important;
}

.pause-menu {
  transition: filter 1s, opacity 1s;
  opacity: 0%;
  filter: blur(0vh);
  z-index: 1000;
  position: relative;
}

.pause-icon {
  width: 5vh;
  height: 5vh;
}

.top-icons.behind {
  z-index: 990;
}

.tooltip-35 {
  display: none;
  position: absolute;
  background-color: rgb(51, 51, 51);
  color: rgb(255, 255, 255);
  padding: 0.5vh;
  margin-top: 1vh;
  border-radius: 0.5vh;
  white-space: nowrap;
  top: 4.5vh;
}

.tooltip-35.right {
  right: 0;
}

.tooltip-35.left {
  left: 0;
}

.options-overlay {
  position: relative;
  z-index: 999999;
  opacity: 0;
  transition: opacity 0.5s;
}

.option-back-icon > img {
  rotate: 180deg;
  border: 0.3vh solid aliceblue;
  padding: 3px;
  border-radius: 1vh;
  margin-right: 1vh;
  color: aliceblue;
  font-weight: bolder;
  align-content: center;
  font-size: 3vh;
  width: 2vw;
  height: 2vw;
}

.options-layout {
  position: fixed;
  width: 90%;
  height: 85%;
  top: 10%;
  left: 5%;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: scroll;
}

.option-title {
  color: aliceblue;
  font-weight: bolder;
  align-content: center;
  font-size: 3vh;
}

.option-header {
  position: fixed;
  top: 5%;
  left: 5%;
  height: 2vw;
  display: flex;
}

.lang-picker-button {
  text-align: center;
  background-color: #4bc3f1;
  border-radius: 0.6vh;
}

.lang-picker {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  color: black;
  margin-bottom: 1vh;
  width: 22vh;
  height: 0;
  overflow: hidden;
  padding: 0;
  transition: all 0.3s linear;
}

.lang-picker.active {
  height: unset;
  padding: 0.5vh;
}

.lang-picker-button.active {
  background-color: coral;
}
