.round-border {
  border-radius: 1vh;
}

.round-border-top {
  border-top-left-radius: 1vh;
  border-top-right-radius: 1vh;
}

.round-border-bottom {
  border-bottom-left-radius: 1vh;
  border-bottom-right-radius: 1vh;
}

.round-border-top-left {
  border-top-left-radius: 1vh;
}

.round-border-bottom-left {
  border-bottom-left-radius: 1vh;
}

.round-border-top-right {
  border-top-right-radius: 1vh;
}

.round-border-bottom-right {
  border-bottom-right-radius: 1vh;
}

.allcaps {
  text-transform: uppercase;
}

.smalltext {
  font-size: 80%;
}

.blurred {
  filter: blur(2vh) !important;
}

.display-grid {
  display: grid !important;
}

.display-none {
  display: none !important;
}

.display-unset {
  display: unset !important;
}

.display-flex {
  display: flex !important;
}

.gap1 {
  gap: 0.5vh !important;
}
.gap2 {
  gap: 2vh !important;
}
.gap3 {
  gap: 5vh !important;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: auto;
  background-color: #b5b5b5;
  color: #000;
  text-align: center;
  border-radius: 5px;
  padding: 6px 10px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #b5b5b5 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
